# R config files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.virtual_documents

# Data and temp files to ignore
/data/
temp/
/processed/
/log/data/

# Other files to ignore
## 1. Old project
/GGF-Conservatism-back/
## 2. Paper manuscripts (before accepted)
/doc/
