# R config files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.virtual_documents

# Data and temp files to ignore
data/
temp/
processed/

# Other files to ignore
## 1. Old project
GGF-Conservatism-back/
